<?xml version="1.0" encoding="UTF-8"?>
<!-- const.xml -->
<config>
    <datasource>
        <url>192.168.2.55</url>
        <port>3306</port>
        <login>jevis</login>
        <password>jevistest</password>
	<schema>jevis</schema>
    </datasource>
    <webservice>
        <port>8080</port>
        
    </webservice>    
</config>
