<?xml version="1.0" encoding="UTF-8"?>
<!-- const.xml -->
<config>
    <datasource>
        <url>openjevis.org</url>
        <port>13306</port>
        <login>jevis</login>
        <password>JEV34Env</password>
    </datasource>
    <webservice>
        <port>8080</port>
        
    </webservice>    
</config>